* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

body {
  margin: 0;
  font-family: "Righteous", cursive, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
