/* 1ª fase */ */

#pond {
    display: flex;
    justify-content: flex-end;
}

/* 2ª fase */

#pond {
    display: flex;
    justify-content: center;
}

/* 3ª fase */

#pond {
    display: flex;
    justify-content: space-around;
}

/* 4ª fase */

#pond {
    display: flex;
    justify-content: space-between;
}

/* 5ª fase */

#pond {
    display: flex;
    align-items: flex-end;
}

/* 6ª fase */

#pond {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 7ª fase */

#pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* 8ª fase */

#pond {
    display: flex;
    flex-direction: row-reverse;
}

/* 9ª fase */

#pond {
    display: flex;
    flex-direction:column;
}

/* 10ª fase */

#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
}

/* 11ª fase */

#pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* 12ª fase */

#pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;    
}

/* 13ª fase */

#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items:flex-end;
}

/* 14ª fase */

#pond {
    display: flex;
}
  
.yellow {
  order: 1;
}

/* 15ª fase */

#pond {
    display: flex;
}
  
.red {
  order: -1;
}

/* 16ª fase */

#pond {
    display: flex;
    align-items: flex-start;
}
  
.yellow {
  align-self:flex-end;
}

/* 17ª fase */

#pond {
    display: flex;
    align-items: flex-start;
}
  
  .yellow {
  order:1;
  align-self:flex-end;
}

/* 18ª fase */

#pond {
    display: flex;
    flex-wrap:wrap;
}

/* 19ª fase */

#pond {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
}

/* 20ª fase */

#pond {
    display: flex;
    flex-flow:column wrap;
}

/* 21ª fase */

#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* 22ª fase */

#pond {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-end;
}

/* 23ª fase */

pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column-reverse;
    align-content:center;
}

/* 24ª fase */

#pond {
    display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: space-between;
}

